PORT=3002
NODE_ENV=production
CORS_ORIGIN=http://localhost:8000
DB_HOST=localhost
DB_PORT=5433
DB_NAME=carley_pedidos
DB_USER=carley_user
DB_PASSWORD=CarleyPassword123
SVC_INV_URL=http://localhost:3001
RABBITMQ_URL=amqp://carley_admin:CarleyRabbit2026@localhost:5672
